// 스타일 가이드는 변수화를 먼저 해서, 제작이 쉽도록 한다.

:root {
    --darkbase: #1e1e1e; //배경색, 어두운 글자색
    --besicbg: #f0ece8; //베이직 배경색
    --fontbasic: "Noto+Sans+KR"; //기본폰트
    --fontlight: #999; //회색폰트색상
}
* {
    margin: 0;
    padding: 0;
}

input::placeholder {
    color: rgb(122, 122, 122) !important;
    font-style: italic;
}
input::-webkit-input-placeholder {
    color: rgb(122, 122, 122) !important;
    font-style: italic;
}
input:-ms-input-placeholder {
    color: rgb(122, 122, 122) !important;
    font-style: italic;
}
textarea::-webkit-input-placeholder {
    color: rgb(122, 122, 122) !important;
    font-weight: bold;
}
textarea:-ms-input-placeholder {
    color: rgb(122, 122, 122) !important;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.font100 {
    font-weight: 100 !important;
}
.font300 {
    font-weight: 300 !important;
}
.font400 {
    font-weight: 400 !important;
}
.font500 {
    font-weight: 500 !important;
}
.font700 {
    font-weight: 700 !important;
}
.font900 {
    font-weight: 900 !important;
}

.baseColor {
    color: var(--darkbase) !important;
}
.baseBg {
    background-color: var(--besicbg) !important;
}
#hd {
    position: relative;
    z-index: 1100;
    h1 {
        font-size: 0.9rem;
        border-radius: 0.5rem;
        margin-bottom: 0;
        width: 3.8rem;
        height: 3.8rem;
        padding: 0 0 0.5rem 0.5rem;
        transform: rotate(-11deg);
    }
    a {
        font-size: 0.75rem;
        color: var(--fontlight);
    }
}

// before에 들어갈 것들에 부트스트랩 아이콘 사용
// input은 새끼 없음, 형제인 label을 준다(id, for사용)
// focus
#contact {
    color: var(--darkbase);
    font-family: var("Noto+Sans+KR");
    font-size: 1.2em;
    line-height: 2;
    border-radius: 0 0 2rem 2rem;
    position: relative;
    z-index: 1100;
    //text일때 , text가 focus일때 -> 같은 input의 text임으로 같이 묶어서 &로 표현해보기
    h2 {
        position: relative;

        strong {
            font-size: 180px;
            letter-spacing: -0.08em;
            line-height: 0.5;
        }
        span {
            position: absolute;
            border: 2px solid var(--darkbase);
            transform: rotate(-11deg) translateY(-25%);
            white-space: nowrap;
            right: 0;
            top: 50%;
        }
        @media (max-width: 991px) {
            strong {
                font-size: 14vw;
            }
            span {
                font-size: 0.8em;
            }
        }
    }
    .formSection {
        border-radius: 2rem;
        overflow: hidden;
        .ess {
            background-color: var(--darkbase);
            color: white;
            font-size: 0.6em;
            margin-left: 0.5em;
        }
    }

    input[type="text"] {
        outline: none;
        width: 100%;
        border-width: 0 0 1px 0;
        border-color: var(--darkbase);
        border-style: solid;
        &:focus {
            background-color: #fff3e0 !important;
        }
    }

    input[type="checkbox"],
    input[type="radio"] {
        display: none;
        &:checked + label {
            color: var(--darkbase);
        }
    }

    label {
        line-height: 1;
        &:before {
            content: "";
            color: transparent;
            font-family: "bootstrap-icons";
        }

        // scss의 and 표현법 : &
    }

    input[type="checkbox"] + label {
        &:before {
            content: "\F26E";
        }
    }
    input[type="radio"] + label {
        &:before {
            content: "\F287";
        }
    }
}

#emailsection {
    .directw {
        display: none;
    }
    &.act {
        .form-select {
            margin-right: 1rem;
        }
        .directw {
            display: block;
        }
    }
}
